.live {

  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 24px;

  font-size: 13px;

  letter-spacing: 2px;

  color: rgba(255,255,255,0.7);
}

.live-dot {

  width: 10px;
  height: 10px;

  background: #22c55e;

  border-radius: 50%;

  box-shadow:
    0 0 10px #22c55e,
    0 0 20px #22c55e;

  animation:
    pulse 1.5s infinite;
}

.label {

  color: #94a3b8;

  font-size: 14px;

  letter-spacing: 3px;

  margin-bottom: 16px;
}

.price {

  font-size: 78px;

  font-weight: 700;

  color: white;

  margin-bottom: 20px;

  text-shadow:
    0 0 10px rgba(255,255,255,0.25),
    0 0 25px rgba(34,197,94,0.18);

  animation:
    pulsePrice 3s ease-in-out infinite;
}

.status {

  font-size: 22px;

  margin-bottom: 24px;

  font-weight: bold;
}

.down {

  color: #22c55e;

  text-shadow:
    0 0 12px rgba(34,197,94,0.5);
}

.up {

  color: #ef4444;

  text-shadow:
    0 0 12px rgba(239,68,68,0.5);
}

.neutral {

  color: #94a3b8;
}

.price-up {

  animation:
    flashRed 0.8s ease;
}

.price-down {

  animation:
    flashGreen 0.8s ease;
}

/* ANIMATIONS */

@keyframes pulse {

  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.4);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulsePrice {

  0% {

    text-shadow:
      0 0 10px rgba(255,255,255,0.15),
      0 0 20px rgba(34,197,94,0.08);
  }

  50% {

    text-shadow:
      0 0 18px rgba(255,255,255,0.35),
      0 0 40px rgba(34,197,94,0.25);
  }

  100% {

    text-shadow:
      0 0 10px rgba(255,255,255,0.15),
      0 0 20px rgba(34,197,94,0.08);
  }
}

@keyframes flashGreen {

  0% {
    transform: scale(1);
  }

  50% {

    transform: scale(1.06);

    text-shadow:
      0 0 18px rgba(34,197,94,0.7),
      0 0 40px rgba(34,197,94,0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flashRed {

  0% {
    transform: scale(1);
  }

  50% {

    transform: scale(1.06);

    text-shadow:
      0 0 18px rgba(239,68,68,0.7),
      0 0 40px rgba(239,68,68,0.5);
  }

  100% {
    transform: scale(1);
  }
}